body, html {
    height: 100%;
}


/*2nd Module START*/
    /*Makes Background Opaque START*/
.module{
    text-align:center;   
    width:100%; 
    background-color:#fff;
    border-top:10px solid #529FDB;
    border-bottom:10px solid #529FDB;
    opacity: 1;
}

   /*Makes Background Opaque END*/

.panel-title{
    font-size:4em;
    background-color:rgba(255,255,255, 1);
    color:#000;
    font-weight:bold;
}

panel-body-style{
    width:50%;
}
/*SLIDESHOW********************************************************************SLIDESHOW*/

@keyframes slider {
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: 0%;
  }
}

#slider{
    overflow: hidden;
    height: 100%;
}

#slider figure img{
  width: 20%;
  float: left;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  right: 0;
  animation: 20s slider infinite;
}