::-webkit-scrollbar {
     width: .8em;
}
/* Track */
 ::-webkit-scrollbar-track {
     background: rgb(233, 233, 233);
}
/* Handle */
 ::-webkit-scrollbar-thumb {
     background: #529FDB;
}
/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #000;
}
/*--Home Image-*/
 nav-home{
     top:30px;
}
/*--Home Image Positioning-*/
 .nav-home-cloud{
     margin:0px;
     padding-top:0px;
}
 .footer-style{
     font-size: 1.2em;
     background-color:#fff;
     color:#529FDB;
     text-align:center;
     margin:0px;
     width: 100%;
     border: 1px solid #fff;
     font-weight: bold;
}
 a {
     color:#fff;
}
 a.active {
     background:white;
}
 a:hover {
     color: #000;
     text-decoration: underline;
}
 a:visited {
     color: #000;
     text-decoration: underline;
}
