::-webkit-scrollbar {
    width: .8em;
}
            
/* Track */
::-webkit-scrollbar-track {
    background: rgb(233, 233, 233); 
}
            
/* Handle */
::-webkit-scrollbar-thumb {
    background: #529FDB; 
}
        
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000; 
}

body, html {
    height: 100%;
}

/*--Home Image-*/
nav-home{
    top:30px;
}

/*--Home Image Positioning-*/
.nav-home-cloud{
    margin:0px;
    padding-top:0px;
}

/*2nd Module Container Div - Parallax*/


/*Parallax for Phones*/
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/*Title of 2nd Module*/
.module{
    text-align:center;   
    width:100%; 
    background-color:#fff;
    border-top:10px solid #529FDB;
    border-bottom:10px solid #529FDB;
}

.panel-title{
    font-size:4em;
    background-color:#fff;
    color:#000;
    font-weight:bold;
}

panel-body-style{
    width:50%;
}

/**/
.parallax { 
    /* The image used */
    background-image: url("https://www.advantageservices.net/photos/articles/correct/205.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

