::-webkit-scrollbar {
    width: .8em;
}
            
/* Track */
::-webkit-scrollbar-track {
    background: rgb(233, 233, 233); 
}
            
/* Handle */
::-webkit-scrollbar-thumb {
    background: #529FDB; 
}
        
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000; 
}

nav-home{
    top:30px;
}

.panel-home{
    position:fixed; 
    width:100%; 
    height:70px; 
    padding:5px; 
    bottom:0px; 
    margin:0px;
    text-align:center;
    border:1px solid #529FDB
    
}

