::-webkit-scrollbar {
    width: .8em;
}
            
/* Track */
::-webkit-scrollbar-track {
    background: rgb(233, 233, 233); 
}
            
/* Handle */
::-webkit-scrollbar-thumb {
    background: #529FDB; 
}
        
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000; 
}

/*--Home Image-*/
nav-home{
    top:30px;
}

/*--Home Image Positioning-*/
.nav-home-cloud{
    margin:0px;
    padding-top:0px;
}

.footer-style{
    background-color:#529FDB;
    color:#fff;
    text-align:center;
    margin:0px;
}

a.active {
    background:white;
}