/*Landscape*/

/*Universal*/

.add-mob {
    display: none;
}

/*Background Parallax Fix*/

@media only screen and (max-device-width: 793px) {
    .none-back {
        background-image: none !important;
    }

    .none-mob {
        display: none;
    }

    /*Background Parallax Fix*/
    .index-mod,
    .index-mod-bot,
    .top-cc {
        background-attachment: scroll !important;
        background-position: 50% 50% !important;
    }

    /*Elements Appear*/
    .add-mob {
        display: unset;
    }

    .mob-fut-img {
        height: 80vh;
        margin: auto;
        display: block;
        margin-top: 10vh;
    }

    .mob-cc-img {
        height: 80vh;
        margin: auto;
        display: block;
        margin-top: 15vh;
    }

    /*Auto Height Block*/
    .block {
        height: auto !important;
    }

    .auto {
        height: 100%;
        background-image: url(../Pics/leaders/Top-mod.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        background-color: #529FDB;
    }
}

/*Portrait*/
