/*INDEX*/

@media (max-width:793px) {
    .none-mob {
        display: none !important;
        position: absolute !important;
        height: auto !important;
        color: transparent !important;
    }
    .none-back {
        background-image: none !important;
    }

    .auto {
        height: auto !important;
    }

    .white-lead {
        background-color: #fff !important;
    }
}

@media (min-width:794px) {
    .app-mob {
        display: none !important;
    }
}

.app-mob {
    margin-top: 70px !important;
    font-size: 4vh !important;
}
