*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 1050px) {
    body::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

/* -------------------------------- 

Main Components 

-------------------------------- */

@media only screen and (min-width: 1050px) {
    body[data-hijacking="on"] {
        overflow: hidden;
    }
}

.cd-section {
    height: 100%;
}

.cd-section:first-of-type > div::before {
    /* alert -> all scrolling effects are not visible on small devices */
    content: 'Effects not visible on mobile!';
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    z-index: 2;
    font-weight: bold;
    font-size: 1.3rem;
}


@media only screen and (min-width: 1050px) {
    .cd-section > div {
        position: fixed;
        top: 0;
        left: 0;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    [data-hijacking="on"] .cd-section > div {
        position: absolute;
    }
}
