body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*TEXT Prop*/

.white {
    color: #fff;
}

.black {
    color: #000;
}

.grey {
    color: #434343;
}

.blue {
    color: #529FDB;
}

.bold {
    font-weight: bold;
}

/*Parallax*/

.img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    pointer-events: none
}

/*Title*/

.title {
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 6vh;
}

.title-mid {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 6vh;
}

.mid-text-title {
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.title-inter {
    color: #529FDB;
    position: relative;
    font-weight: bold;
    font-size: 4vh;
    display: block;
    text-align: left;
    padding: 0;
}

.title-trans {
    color: #529FDB;
    position: relative;
    font-weight: bold;
    font-size: 4vh;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0px solid transparent;
}

/*BODY TEXT*/

.top-text {
    font-size: 2.5vh;
    text-align: justify;
    color: #fff;
    margin-top: 50px;
}

.top-text-bot {
    font-size: 2.5vh;
    text-align: justify;
    color: #fff;
}

.comp-bot {
    bottom: 0;
}

.comp-l {
    width: 35%;
    position: fixed;
    left: 0;
}

.comp-r {
    width: 35%;
    position: fixed;
    right: 0;
}

.mid-text {
    font-size: 2.6vh;
    text-align: justify;
}

.interview-title {
    font-size: 4vh;
    text-align: left;
    font-weight: bold;
}

.interview-text {
    font-size: 2.5vh;
    font-weight: 100;
    text-align: justify;
}

.collapse-info {
    color: #fff;
    font-size: 2.5vh;
    text-align: justify;
    font-weight: 100;
    background-color: transparent;
    padding-left: 60px;
    padding-right: 30px;

}

.right-m {
    margin-right: 5vh;
}

.left-m {
    margin-left: 5vh;
}

.right {
    padding-right: 5vh;
}

.left {
    padding-left: 5vh;
}

/*MOD*/

.top {
    background-image: url(../Pics/leaders/Top-mod.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 50%;
    background-color: #529FDB;
    background-attachment: fixed;
}

.interview-sub {
    margin-left: 30px;
}

@media only screen and (max-device-width: 793px) {
    section.auto {
        background-image: url(../Pics/leaders/Top-mod.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10% 50%;
        background-color: #529FDB;
        background-attachment: fixed;
    }
}

@media (max-width: 793px) {
    section.auto {
        background-image: url(../Pics/leaders/Top-mod.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10% 50%;
        background-color: #529FDB;
        background-attachment: fixed;
    }
}

/*Images*/

/*Audio*/

.audio-file {
    width: 100%;
}



.cd-section-bot {
    height: auto;
}
