body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  pointer-events: none
}

/*Title*/
.title{
    margin-top: 10vh;
    text-align:center;
    font-weight: bold;
    padding-bottom: 1vh;
    position: relative;
    font-size:5vh
}

/*BODY TEXT*/
.body-text{
    text-align: justify;
    margin-top: 37vh; 
    font-size: 2.6vh;
    position: relative;
    display: block;
    transform: translateY(-50%);
}

.white{
    color:#fff;
}

.black{
    color:#000;
}

.Sub-text{
    margin-top:43vh;
    text-align:justify;
    position: relative;
    font-size: 2.75vh;
}

.text-bottom{
    text-align: justify;
    overflow:auto;
    font-size:2.6vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media only screen and (min-height : 770px){
    .title{
        margin-top: 5vh;
        padding-bottom: 2vh;
    }
    .right-text, .left-text{
        margin-top: 40vh;
    }
}

/*@media only screen and (max-width: 1178px){
    overflow-y: auto;
            overflow-x: hidden;
}
/*************************************************************************************************************************************/