body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
}

.img-parallax {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  pointer-events: none
}

/* TEXT START*/
.img-text{
    float:right;
    text-align: justify;
    margin: 50vh 1% 25% 0;
    max-width: 50%;
    max-height: 75%;
    position: relative;
    display: block;
    transform: translateY(-50%);
    font-size: 4vh;
    color:#000;
}

.img-text2{
    float:right;
    text-align:justify;
    margin: 50vh 5% 25% 0;
    max-width: 50%;
    max-height: 75%;
    position: relative;
    display: block;
    transform: translateY(-50%);
    font-size: 4vh;
    color: #fff;
}
/* TEXT END*/

/*SLIDESHOW********************************************************************SLIDESHOW*/

@keyframes slider {
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: 0%;
  }
}

#slider{
    overflow: hidden;
    height: 100%;
    border-bottom: 0px solid transparent;
    height:100vh;
}

#slider figure img{
  width: 20%;
  float: left;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  right: 0;
  animation: 16s slider infinite;
}