div > div.gsc-tabHeader:nth-child(1) {
    visibility: hidden;
}

div > div.gsc-tabHeader:nth-child(1):after {
    content: "Web Results";
    visibility: visible;
}

div > div.gsc-tabHeader:nth-child(3) {
    visibility: hidden;
}

div > div.gsc-tabHeader:nth-child(3):after {
    content: "Site Results";
    visibility: visible;
    margin-left: -70px;
}

.gsc-tabHeader.gsc-tabhActive:after {
    border: 1px solid #529FDB !important;
    padding: 7px;
    visibility: visible;
    border-bottom-color: #fff !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background-color: #fff !important;
}

.gsc-tabsArea {
    border: 1px solid #529FDB !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
}
