.resources {
    padding-top: 10vh;
    height: 100%;
}

.title {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

.white {
    color: #fff;
}

.res-bar {
    background-color: #529FDB;
    margin-top: 2vh;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 2vh;
    width: 100%;
}

.res-bar:hover {
    background-color: #fff;
}

footer {
    background-color: transparent !important;
}

a,
a:hover {
    color: #000;
}

.btn-style {
    margin-top: 2vh;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 3vh;
    width: 100%;
    background-color: transparent;
    border: 0px solid transparent;
    color: #000;
}
