body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Parallax*/

.img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    pointer-events: none
}

/*Color*/

.white {
    color: #fff;
}

.black {
    color: #000;
}

.blue {
    color: #529FDB;
}

/*Title*/

.title {
    padding-top: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 6vh;
}

div.grey-mod > p {
    font-size: 7vh;
}

/*BODY TEXT*/

.body-text {
    font-size: 3vh;
    text-align: justify;
}

.items {
    font-size: 2.6vh;
    margin-bottom: 20px;
}

.maj-mod {
    font-size: 2.5vh;
    background-color: #529FDB;
}

.maj-pic {
    height: 4vh;
    width: 100%;
    background-color: #529FDB;
    margin-top: 35%;
}

.maj-con {
    margin: 0;
    padding: 0;
}

.maj-ver {
    width: 5vh;
    height: 10vh;
    background-color: #529FDB;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    padding-right: 10px;
    padding-top: 10px;
}

.left {
    padding-left: 10px;
    padding-top: 10px;

}

/*Text-Bottom*/

ul {
    list-style-type: none;
    margin-top: 0;
}

.li-title {
    font-size: 4vh
}

.text-bottom {
    text-align: justify;
    overflow: auto;
    font-size: 2.6vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media (min-height: 770px) {

    .right-text,
    .left-text {
        margin-top: 40vh;
    }
}

/*MOD Images*/

.mid-mod {
    background-image: url(../Pics/Blue.svg);
}

/*MOD*/
div.white-mod {
    margin-top: 10vh;
}
