body, html {
      margin: 0;
      padding: 0;
      width: 100%;
}

/*Color*/
.white{
    color:#fff;
}

.black{
    color:#000;
}

.grey{
    color:#434343;
}

.blue{
    color:#529FDB;
}

/*Parallax*/
.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  pointer-events: none
}

/*Title*/
.title{
    margin-top: 100px;
    text-align:center;
    font-weight: bold;
    font-size:6vh;
    color:#529FDB;
}

.mid-title{
    margin-top: 100px;
    text-align:center;
    font-weight: bold;
    font-size:6vh;
    color:#000;
}

.title-center{
    color:#434343;
    margin-top: 8vh;
    text-align:center;
    font-weight: bold;
    font-size:6vh;
}

/*BODY TEXT*/
.top-text{
    font-size:2.6vh;
    text-align:justify;
    color:#529FDB
}

.mid-text{
    font-size:2.6vh;
    text-align:justify;
}

.right{
    padding-right: 5vh;
}

.left{
    padding-left: 5vh;
}

/*MOD Parallax*/
.top{
  background-image: url();
  background-repeat:no-repeat;   
  background-size:cover;
  background-position: 50%;  
  background-attachment: fixed;
}

.mid{
  background-image: url();
  background-repeat:no-repeat;   
  background-size:cover;
  background-position: 50%;  
  background-attachment: fixed; 
}

.bot{
  background-image: url();
  background-repeat:no-repeat;   
  background-size:cover;
  background-position: 50%;  
  background-attachment: fixed;
}