body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Color*/

.white {
    color: #fff;
}

.black {
    color: #000;
}

.grey {
    color: #434343;
}

.blue {
    color: #529FDB;
}

/*Parallax*/

.img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    pointer-events: none
}

/*Title*/

.title {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 6vh;
    color: #529FDB;
}

.title-mid {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 6vh;
    color: #fff;
}

/*BODY TEXT*/

.top-text {
    font-size: 2.6vh;
    text-align: justify;
    color: #529FDB;
}

.mid-text {
    font-size: 2.6vh;
    text-align: justify;
    color: #fff;
}

.right {
    padding-right: 5vh;
}

.left {
    padding-left: 5vh;
}

/*Images*/
