body{
    background-color:#529FDB;
}

.resources{
    margin-top:10vh;
}

.title{
    font-size:5vh;
    font-weight:bold;
    text-align:center;
}

.res-bar{
    background-color:#529FDB;
    margin-top:2vh;
    font-size:4vh;
    text-align:center;
    margin-bottom:3vh;
}

.res-bar:hover{
    background-color:#fff;
    width:100%;
}

.collapse-link{
    font-size:4vh;
    color:#000;
}

.collapse-info{
    font-family:serif;
    text-align:left;
    font-size:3vh;
}

.footer{
     position:fixed;
     bottom:0;
     left:0;
}