body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Color*/

.white {
    color: #fff;
}

.black {
    color: #000;
}

.grey {
    color: #434343;
}

.blue {
    color: #529FDB;
}

/*Parallax*/

.img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    pointer-events: none
}

/*Title*/

.title {
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 6vh;
}

.title-mid {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 6vh;
    color: #fff;
}

.title-inter {
    color: #529FDB;
    position: relative;
    font-weight: bold;
    font-size: 4vh;
    display: block;
    text-align: left;
    padding: 0;
}

.title-trans {
    color: #529FDB;
    position: relative;
    font-weight: bold;
    font-size: 4vh;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0px solid transparent;
}

/*BODY TEXT*/

.top-text {
    font-size: 2.6vh;
    text-align: justify;
    color: #529FDB;
}

.mid-text {
    font-size: 2.6vh;
    text-align: justify;
    color: #fff;
}

.interview-title {
    font-size: 4vh;
    text-align: left;
    font-weight: bold;
}

.interview-text {
    font-size: 2.5vh;
    font-weight: 100;
    text-align: justify;
}

.collapse-info {
    color: #fff;
    font-size: 2.5vh;
    text-align: justify;
    font-weight: 10;
    background-color: transparent;
    padding-left:60px;
    padding-right:30px;
    
}

.right {
    padding-right: 5vh;
}

.left {
    padding-left: 5vh;
}

/*Images*/

/*Audio*/

.audio-file {
    width: 100%;
}
