html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.block{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}

/*TEXT*/
.test-mod{
    margin-bottom:1vh;
}

.img-text{
    float:right;
    text-align: justify;
    margin-top: 10vh; 
    font-size: 4vh;
    color:#fff;
    padding-left: 5vh;
}

.type-title{
    float:center;
    text-align:center;
    margin-top: 4vh;
    max-width: 100%;
    position: relative;
    display: block;
    font-size: 5vh;
    color: #000;
}

.Sub-text{
    margin-top:43vh;
    text-align:justify;
    position: relative;
    font-size: 2.75vh;
}

.Sub-head{
    position: relative;
    font-weight:bold;
    font-size: 4vh;
    margin-top: -1vh;
    text-align: center;
}

.text-body_left{
    padding-left: 4vh;
}

.text-body_right{
    padding-right: 4vh;
}
.texton{
    display: block;
    position: relative;
    margin-top: 5vh;
    text-align: center;
    color: #fff;
    position: 50%;
    font-size: 5vh;
}