body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.link {
    text-decoration: underline;
}

.white:hover {
    color: #000;
}

.blue:hover {
    color: #000;
}

.white,
.white:active {
    color: #529FDB;
}

.blue,
.blue:active {
    color: #fff;
}

/* TEXT START*/

.img-text {
    text-align: justify;
    margin: 120px 0 0 5%;
    max-width: 40%;
    position: relative;
    display: block;
    font-size: 4.4vh;
    color: #000;
    overflow: auto;
}

/* TEXT END*/

@keyframes slider {
    0% {
        right: 0;
    }
    20% {
        right: 0;
    }
    25% {
        right: 100%;
    }
    45% {
        right: 100%;
    }
    50% {
        right: 200%;
    }
    70% {
        right: 200%;
    }
    75% {
        right: 300%;
    }
    95% {
        right: 300%;
    }
    100% {
        right: 0%;
    }
}

#slider {
    overflow: hidden;
    border-bottom: 0px solid transparent;
    height: auto;
    background-color: #529FDB;
    height: 100vh;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    right: 0;
    animation: 20s slider infinite;
}

.blue-back {
    background-color: #529FDB;
}

.index-mod {
    background-image: url(../Pics/index/internet.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    background-attachment: fixed;
    background-color: #529FDB;
}

.index-mod-bot {
    background-image: url(../Pics/index/Cloud.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 37%;
    background-attachment: fixed;
}

/*Slideshow Images*/

figure > img:nth-child(1) {
    margin-top: -120px;
}

figure > img:nth-child(2) {
    margin-top: -20px;
}

figure > img:nth-child(3) {
    margin-top: 0;
}

figure > img:nth-child(4) {
    margin-top: -90px;
}

@media (min-height:800px) {
    figure > img:nth-child(1) {
        margin-top: -10vh;
    }
}

@media (min-height:800px) {
    figure > img:nth-child(2) {
        margin-top: 0;
    }
}

@media (min-height:800px) {
    figure > img:nth-child(3) {
        margin-top: 50px;
    }
}

@media (min-height:800px) {
    figure > img:nth-child(4) {
        margin-top: 0;
    }
}
