html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  transform: translate(-50%,0);
  pointer-events: none
}

/*TEXT*/
.title{
    color:#fff;
    margin-top: -85vh;
    text-align:center;
    font-weight: bold;
    font-size:7vh;
}

.type-title{
    float:center;
    text-align:center;
    margin-top: 7vh;
    max-width: 100%;
    position: relative;
    display: block;
    font-size: 6vh;
    color: #000;
    font-weight: bold;
}

.title-last{
    color:#fff;
    margin-top: 8vh;
    text-align:center;
    font-weight: bold;
    font-size:7vh;    
}

.right-text{
    float:right;
    text-align: justify;
    margin-top: 7vh; 
    font-size: 4vh;
    color:#fff;
    margin-right: 0vh;
    position: relative;
    display: block;
    transform: translateY(-50%);
}

.image-stuck{
    display: inline-block;
    margin-top:2.8vh
}

.Sub-text{
    margin-top:vh;
    text-align:justify;
    position: relative;
    font-size: 2.75vh;
}

.Sub-head{
    position: relative;
    font-weight:bold;
    font-size: 4vh;
    margin-top: 15vh;
    text-align: center;
}

.text-body_left{
    padding-left: 4vh;
}

.text-body_right{
    padding-right: 4vh;
}

.text-body{
    font-size: 4vh;
    margin-left:4vh;
    margin-right:4vh;
    color:#fff;
}

.mid-head{
    font-size:6vh;
    color:#fff;
    text-align:center;
    margin-top:7vh;
    font-weight:bold;
}

.mid-text{
    color:#fff;
    font-size:3vh;
    margin:0 4vh 4vh 4vh;
}

.block-text{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  text-align: justify;
    background-image: url(../Pics/Types-cc.svg)
}

.space{
    margin-right: 7vh;
    background-color: #434343;
    color:#434343;
}

.top-img{
    margin-top: 20vh;
    display:inlineblock;
    position:absolute;
}

/********************************************/



/*Collapse Info*/
.title-coll{
    color:#000;
    background-color:transparent;
    position: relative;
    font-weight:bold;
    font-size: 4vh;
    margin-top: 40vh;
    display:block;
    margin-left: auto;
    margin-right: auto;
    left:8%;
}

.text-collapse{
    font-size: 2vh;
    float:left;
    text-align: justify;
    margin-right: 5vh;
    margin-left: 5vh;
}

