::-webkit-scrollbar {
     width: .8em;
}
/* Track */
 ::-webkit-scrollbar-track {
     background: #e9e9e9;
}
/* Handle */
 ::-webkit-scrollbar-thumb {
     background: #529FDB;
}
/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #000;
}

html{
    font-family:"Karma", sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

/*--Home Image-*/
 nav-home{
     top:30px;
}
/*--Home Image Positioning-*/
 .nav-home-cloud{
     margin:0px;
     padding-top:0px;
}
 .footer-style{
     font-size: 1.2em;
     background-color:#fff;
     color:#529FDB;
     text-align:center;
     margin:0px;
     width: 100%;
     border: 1px solid #fff;
     font-weight: bold;
}
 a {
     color:#fff;
}
 a.active {
     background:#fff;  
}
 a:hover {
     color: #000;
     text-decoration: underline;
}
 a:visited {
     color: #000;
     text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 107px;
    z-index: 1;
    color:#000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #fff;
}

.white-border{
    border: 1px solid #fff;
}

@media (max-width: 767px){
    .add-mod{
        width:100%;
    }
}

.block{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

