::-webkit-scrollbar {
    width: 1em !important;
}

@import url('https://fonts.googleapis.com/css?family=Karma');

/* Track */

::-webkit-scrollbar-track {
    background: #e9e9e9;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #529FDB;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

html,
body {
    font-family: "Karma", sans-serif;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

hr {
    width: 90%;
    color: #000;
}

.active {
    background-color: #fff;
}

/*--Home Image-*/

nav-home {
    top: 30px;
}

.m-right {
    margin-right: 25px;
}

.m-left {
    margin-left: 25px;
}

/*--Home Image Positioning-*/

.nav-home-cloud {
    margin: 0px;
    padding-top: 0px;
}

.footer-style {
    font-size: 15px;
    background-color: #434343;
    color: #fff;
    text-align: center;
    margin: 0px;
    width: 100%;
    border: 0px solid #434343;
    position: relative;
    bottom: 0;
    z-index: 1000;
    height: 42px;
}

/*---Hyperlink Formatting---*/

/*Black on Blue*/

a.link-blue-black:link {
    color: #fff;
    text-decoration: underline;
}

a.link-blue-white:link {
    color: #000;
    text-decoration: underline;
}

a.link-white-black:link {
    color: #529FDB;
    text-decoration: underline;
}

a.link-grey-white:link {
    color: #529FDB;
    text-decoration: underline;
}

a.link-blue-black:visited {
    color: #64009B;
}

a.link-blue-white:visited {
    color: #64009B;
}

a.link-white-black:visited {
    color: #64009B;
}

a.link-grey-white:visited {
    color: #AD1EFC;
}

a.link-blue-black:hover {
    color: #000;
}

a.link-blue-white:hover {
    color: #fff;
}

a.link-white-black:hover {
    color: #000;
}

a.link-grey-white:hover {
    color: #fff;
}

a.link-blue-black:active {
    color: #fff;
}

a.link-blue-white:active {
    color: #000;
}

a.link-white-black:active {
    color: #529FDB;
}

a.link-grey-white:active {
    color: #529FDB;
}

/* Dropdown Content (Hidden by Default) */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 50%;
    z-index: 1;
    color: #000;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content li:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.block {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 16px;
}

.block-mod-bot {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*MOD Pics*/

.blue-mod {
    background-color: #529FDB;
}

.grey-mod {
    background-color: #434343;
}

.white-mod {
    background-color: #fff;
}

/*Img-Overlay*/

.overlay {
    height: 0%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
}

.overlay > .closebtnNav {
    float: right;
    font-size: 60px;
    margin-right: 10px;
    margin-top: -15px;
    color: #529FDB;
}

/*Dropdown Menu Animation*/

ul {
    list-style: none;
}

.nav li:hover {
    background-color: #fff;
}

.nav > ul > li {
    float: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
}

ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: auto;
    padding: 0;
}

ul.drop-menu > li {
    background-color: #fff;
}

ul.dropdown-menu > li > a:hover {
    background-color: #e9e9e9;
}

ul.drop-menu li {
    display: none;
}

li:hover > ul.drop-menu li {
    display: block;
}

li:hover > ul.drop-menu.menu-5 {
    perspective: 1000px;
}

li:hover > ul.drop-menu.menu-5 li {
    transform-origin: top center;
    opacity: 0;
}

li:hover > ul.drop-menu.menu-5 li:nth-child(1) {
    animation-name: menu-5;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover > ul.drop-menu.menu-5 li:nth-child(2) {
    animation-name: menu-5;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover > ul.drop-menu.menu-5 li:nth-child(3) {
    animation-name: menu-5;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover > ul.drop-menu.menu-5 li:nth-child(4) {
    animation-name: menu-5;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover > ul.drop-menu.menu-5 li:nth-child(5) {
    animation-name: menu-5;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

li:hover > ul.drop-menu.menu-5 li:nth-child(6) {
    animation-name: menu-5;
    animation-duration: 900ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes menu-5 {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*Search Box*/

.gsc-input {
    height: 50px;
    width: 90%;
    color: #000;
}

.gsc-result {
    color: #000;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
    width: auto !important;
    height: auto !important;
    border: 0px !important;
    position: relative;
    top: -1px;
}

/*Font-color*/

.blue {
    color: #529FDB;
}

.white {
    color: #fff;
}

.grey {
    color: #434343;
}

/*Dropdown Menu*/

ul.dropdown-menu > li {
    border-left: 5px solid #529FDB;
    border-right: 5px solid #529FDB;
}

ul.dropdown-menu > li:hover {
    border-left: 5px solid #434343;
    border-right: 5px solid #434343;
}

.dropdown-toggle {
    border-left: 5px solid transparent;
}

.dropdown-toggle:hover {
    border-left: 5px solid #434343 !important;
}

.active {
    border-left: 5px solid transparent;
}
